* {
    color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-menu {
    text-align: center;
}

.nav-link {
    color: rgba(255, 255, 255, .62);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 23px 13px; /* Ajuste conforme necessário */
    font-size: 19px;
    float: right; /* ou margin-left: auto; */
    text-decoration: none
}

.nav-link:hover {
    color: #fff;
}



.logo {
    color: #fdfdfd ;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 19px;
    font-weight: 400;
    float: left; /* ou margin-left: auto; */
    margin-left: 300px
  
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0);
    height: 60px; /* Ajuste conforme necessário */
    margin-right: 200px;
    
}

.corpoum {
    height: 100vh;
    background: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.46) 1%, rgba(0, 0, 0, 0.5)), url('img/imagem-de-fundo.png.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
